# Dependencies
node_modules/
.venv/
venv/

# Builds
frontend/.next/
frontend/out/
backend/staticfiles/

# Env & secrets
.env
.env.local
*.local

# Database
*.sqlite3
db.sqlite3

# OS / editor
.DS_Store
*.log
__pycache__/
*.pyc
.vscode/
.idea/
